#container{
    background-color: green;
}
.first{
    color: lightskyblue;
    height: 200px;
    background-color: red;
    -webkit-appearance: button;
}
.second{
    color: aqua;
    height: 200px;
    background-color: blue;
}